body{
    background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
@media screen and (max-width: 640px){
    body{
    background-image: url("../images/bg-mobile.jpg")
    }
    #headImage{
        height: 150px;
        width: 350px;
    }
    .addTitles{
        font-size: 12px;
        line-height: 18px;
    }
    .container{
        padding-left: 0px;
        padding-right: 0px;
    }
    th,
    td{
        white-space: normal;
        font-size: 10px;
        line-height: 18px;
    }

}